body {
  font-family: sans-serif;
}
md-sidenav {
  width: 310px;
  height: 100%;
  padding: 20px;
  padding-top: 15px;
  background-color: #292c33;
  position: relative;
}
md-sidenav md-card {
  background-color: #292c33;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}
md-sidenav md-card md-card-title {
  padding: 0;
}
.user-card-image {
  height: 42px;
  width: 42px;
  margin-left: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #333;
  font-size: 30px;
  background-color: #646464;
  vertical-align: middle;
  position: relative;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.user-card-image .user-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
.user-card-image:after {
  content: "";
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: -4px;
  left: -4.3px;
}
md-card-user-name {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 29px;
}
.project-list {
  margin-top: 14px;
  color: #fff;
  padding-left: 0;
  font-size: 13px;
}
.project-list #add-project p {
  color: #ccc;
  font-size: 11px;
  margin-left: 1px;
}
.project-list #add-project .md-button.md-icon-button {
  font-size: 17px;
  margin-right: -15px;
  padding: 0;
}
.project-list md-list-item {
  padding: 0 15px;
  min-height: 30px;
}
.project-list md-list-item:before {
  min-height: 30px;
}
.project-list md-list-item._md-button-wrap .md-button:first-child {
  margin: 0 -15px;
}
.project-list md-list-item._md-button-wrap .md-button:first-child:hover {
  background-color: #6b6b99;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.project-list .md-button {
  margin: 0 0;
}
.project-list md-list-item.md-no-proxy {
  cursor: pointer;
  padding: 0 0px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.project-list md-list-item.md-no-proxy:hover {
  background-color: #6b6b99;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.project-list .project-list-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
}
.project-list .project-list-item p.ng-binding {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  padding: 0;
}
.log-out-container {
  position: relative;
  height: 100%;
  min-height: 100px;
  width: 100%;
}
.log-out {
  font-size: 13px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.log-out a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
md-content {
  background-color: #f7f7f7;
  height: 100%;
  padding: 0px 0px 20px 0px;
}
md-toolbar {
  height: 45px;
  min-height: 45px;
}
.dropdown-menu-container {
  background-color: #fff;
  position: absolute;
  right: 4px;
  top: 45px;
  display: none;
}
.dropdown-menu-container.active {
  display: inline-block;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.dropdown-menu-container.not-active {
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.dropdown-menu-container .drop-down {
  height: 60px;
  width: 130px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-box-shadow: 1px 8px 20px 2px rgba(184, 184, 184, 0.5);
          box-shadow: 1px 8px 20px 2px rgba(184, 184, 184, 0.5);
  overflow: hidden;
}
.dropdown-menu-container .drop-down li {
  list-style: none;
  width: 100%;
}
.dropdown-menu-container .drop-down li a {
  width: 100%;
  float: left;
  height: 20px;
  line-height: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 13px;
  color: #111;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.dropdown-menu-container .drop-down li a:hover {
  background-color: #6b6b99;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.md-menu-toolbar {
  background-color: #f7f7f7;
  color: #b3bbcb;
  border-bottom: 1px solid #bdbdbd;
  height: 100%;
}
.md-menu-toolbar .md-icon-button {
  color: #b3bbcb;
  font-size: 25px;
}
.md-menu-toolbar #search-button {
  margin: 0;
  padding: 0;
}
.md-menu-toolbar md-menu-bar {
  display: inline-block;
}
.search-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.search-container .md-icon-button {
  display: inline-block;
  vertical-align: middle;
}
.search-container .search-bar {
  display: inline-block;
  width: 200px;
  height: 35px;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 27px;
  display: none;
  vertical-align: middle;
}
.search-container .search-bar label {
  font-size: 10px;
}
.search-container .search-bar.active {
  display: inline-block;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
.search-container .search-bar.not-active {
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
.task-list-container {
  padding-bottom: 0px;
  position: relative;
}
.task-list-container .md-fab.add-task {
  color: #fff;
  font-size: 30px;
  position: fixed;
  bottom: 25px;
  right: 50px;
}
.tasks-for-a-day {
  width: 550px;
  max-width: 550px;
  min-width: 100px;
}
.tasks-for-a-day h4 {
  color: #b3bbcb;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 2px;
}
.tasks-for-a-day h4 span {
  color: #b3bbcb;
  opacity: 0.9;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
}
.tasks-for-a-day .day-card {
  margin: 0;
  padding: 0 50px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 1px 8px 20px 2px rgba(184, 184, 184, 0.5);
          box-shadow: 1px 8px 20px 2px rgba(184, 184, 184, 0.5);
}
.tasks-for-a-day .day-card md-list {
  padding-top: 0;
  padding-bottom: 0;
}
.tasks-for-a-day .day-card .task-list-item {
  height: 50px;
  min-height: 50px;
}
.tasks-for-a-day .day-card .task-text {
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  padding: 0 30px;
}
.tasks-for-a-day .day-card .task-text:before {
  content: "";
  position: absolute;
  left: -40px;
  bottom: 50%;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #bdbdbd;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.tasks-for-a-day .day-card .task-text:after {
  content: "";
  position: absolute;
  left: -13px;
  bottom: 50%;
  width: 20px;
  height: 30px;
  border-right: 1px solid #eee;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.add-task-form .md-button.md-icon-button {
  margin: 0 6px 0 -9px;
}
md-input-container .md-errors-spacer {
  float: none;
}
._md-datepicker-floating-label._md-datepicker-has-calendar-icon label:not(.md-no-float):not(.md-container-ignore) {
  right: 18px;
  left: auto;
  width: -webkit-calc(56%);
  width: calc(56%);
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
