 <md-dialog aria-label="Add Task Dialog">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content add-task-form">
        <h2>Your new task</h2>
        <form name="addTaskForm">
          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="myDate" ></md-datepicker>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Task text</label>
            <textarea ng-model="myTask" style="width: 600px; min-width: 100px;"></textarea>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <!-- <span flex></span> -->
      <md-button ng-click="answer(myDate, myTask)">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>